@model ArtworkManager.Models.Artwork
@{
    ViewData["Title"] = "GetCode";
}

<h2>@ViewData["Title"]</h2>

<h3>Below, you can see your next free code to use:</h3>

<div>
    <h4>Artwork</h4>
    <hr />
    <d1 class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
    </d1>
    <form asp-action="GetCode">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Copy" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
</form>
</div>

