@model ArtworkManager.Models.Artwork
@{
    ViewData["Title"] = "GetNewCode";
}

<h2></h2>

<h3>Below you can see your next free code to use:</h3>

<div>
    <hr />
    <d1 class="dl-horizontal">

        <textarea id="code">@Html.DisplayFor(model => model.Code)</textarea>

        <br>



    </d1>
    <form asp-action="GetNewCode">
        <input type="hidden" asp-for="Id" />



        <button onclick="copy()">Copy</button>
        <script type="text/javascript">
            function copy() {
                var copyText = document.getElementById("code");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand('copy');

            }
        </script>



        <a asp-action="Index">Back to List</a>
    </form>
</div>

