@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3></h3>

<address>
    If you have any doubt, or if you want to give a suggestion about this application, please feel free to contact me.<br />

</address>

<address>
    <strong>Email:</strong> <a href="mailto:SantosRicardoV@JohnDeere.com">SantosRicardoV@JohnDeere.com</a><br />
    
</address>
